<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prime</title>
</head>
<body><form method="POST">{% csrf_token %}
    <label for="id1"></label>
    <input name="num1" id="id1" type="number" placeholder="enter a number" required="True">
    <button>Submit</button></form>
    {% if result %}
        The given number is an ARmStrong number
    {% else %}
        The give number is not an Armstrong number
    {% endif %}
</body>
</html>